<mat-card class="my-4 mx-4" *ngIf="!!venueDetails; else loading" (click)="focusVenueOnMap()">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{venueDetails.name}}</mat-card-title>
    <mat-card-subtitle>{{venueDetails.categories[0]?.pluralName}}</mat-card-subtitle>
  </mat-card-header>
  <img *ngIf="venueDetails.bestPhoto; else noPicture" mat-card-image
       src="{{venueDetails.bestPhoto.prefix}}400x400{{venueDetails.bestPhoto.suffix}}"
       alt="Venue picture">
  <ng-template #noPicture>
    <img mat-card-image src="./assets/images/no-img.png">
  </ng-template>
  <mat-card-content>
    <p *ngIf="venueDetails.description && venueDetails.description !== ''; else noDescription">
      {{venueDetails.description}}
    </p>
    <ng-template #noDescription>
      <p>No description available for this venue</p>
    </ng-template>
    <div class="row">
      <div class="col">
        <mat-progress-spinner
          [mode]="'determinate'"
          [color]="venueDetails.ratingColor || 'primary'"
          [value]="venueDetails.rating * 100 || 1">
        </mat-progress-spinner>
      </div>
      <div *ngIf="venueDetails.rating" class="col d-flex justify-content-center">
        Venue rating: {{venueDetails.rating}}
      </div>
      <div class="col">
        <p>Here now: {{venueDetails.hereNow ? venueDetails.hereNow.count : 'ND'}}</p>
        <p *ngIf="venueDetails.likes.summary">{{venueDetails.likes.summary}}</p>
        <p *ngIf="venueDetails.price">Cost: {{venueDetails.price?.message}}</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #loading>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <mat-progress-spinner
        [mode]="'indeterminate'">
      </mat-progress-spinner>
    </div>
  </div>
</ng-template>

