@mixin page-title {
  .primary-title, .secondary-title {
    color: $white;
    text-shadow: 3px 1px 30px $black;
  }

  .primary-title {
    font-family: 'Amatic SC', cursive;
    font-size: 5rem;
    @include media-breakpoint-up(lg) {
      font-size: 10rem;
    }
  }

  .secondary-title {
    font-family: 'Butterfly Kids', cursive;
    font-size: 1.5rem;
    @include media-breakpoint-up(lg) {
      font-size: 3rem;
    }
  }
}
