<div class="row search-page">
  <div class="col-xl-2 col-lg-4 venues p-0">
    <ng-container *ngFor="let venue of venues">
      <app-venue-card-cont [venue]="venue"></app-venue-card-cont>
    </ng-container>
  </div>
  <div class="col-xl-10 col-lg-8">
    <app-google-maps-cont [venues]="venues"></app-google-maps-cont>
  </div>
</div>
