<div class="row m-0">
  <div class="col-12 d-flex flex-column justify-content-center">
    <h1 class="primary-title mb-0 text-center">All venues around you!</h1>
    <h6 class="secondary-title mt-0 text-center">Discover amazing venues around you.</h6>
    <form *ngIf="!showLoading; else loading"
          class="search-form-container py-2 px-4 px-lg-5 d-flex align-items-center ml-auto mr-auto">
      <div class="row w-100 m-1">
        <div class="col-12 col-md d-flex align-items-center">
          <mat-form-field class="w-100 mr-3">
            <input #location matInput placeholder="Where?" [formControl]="locationFormControl"
                   [value]="userLocation[0]?.address_components[2]?.long_name">
            <mat-icon matSuffix>location_on</mat-icon>
            <mat-error *ngIf="locationFormControl.hasError('required')">
                Well..at least location is mandatory :)
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-12 col-md d-flex align-items-center">
          <mat-form-field class="w-100">
            <mat-select class="mr-3" placeholder="Venues category" [(value)]="userSearchCriteria.categoryId">
              <mat-option *ngFor="let category of venuesCategories" [value]="category.id">
                {{ category.pluralName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 col-md d-flex align-items-center">
          <button mat-raised-button class="mr-3 w-100" (click)="search($event)" [disabled]="locationFormControl.invalid">
            Search
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<ng-template #loading>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <mat-progress-spinner
        [mode]="'indeterminate'">
      </mat-progress-spinner>
    </div>
  </div>
</ng-template>
