@import "utils";

@include page-title;

.search-form-container {
  background-color: $white;
  border-radius: 50px;
  width: 100%;

  @include media-breakpoint-up(lg) {
    width: 50%;
  }

  @include media-breakpoint-up(md) {
    width: 60%;
  }
}

