<div class="home-page">
  <app-home-page-pres [venuesCategories]="venuesCategoriesService.venuesCategories$ | async"
                      [showLoading]="(venuesCategoriesService.venuesCategoriesStateStatus$ | async) === stateStatus.loading"
                      [userLocation]="(geoCodeService.geoCodeResponse$ | async)"
                      (searchVenues)="onSearch($event)">
  </app-home-page-pres>
</div>
