<div class="row h-100">
  <div class="col-12">
    <agm-map [latitude]="forcedCenterLatitude || venues[0]?.location.lat"
             [longitude]="forcedCenterLongitude || venues[0]?.location.lng"
             [zoom]="forcedZoomLevel || (forcedCenterLatitude && forcedCenterLongitude) ? 10 : 20">
      <ng-container *ngFor="let venue of venues">
        <agm-marker [latitude]="venue.location.lat" [longitude]="venue.location.lng" [label]="venue.name">
        </agm-marker>
      </ng-container>
    </agm-map>
  </div>
</div>
